In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [46]:
!pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.18.0-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 5.1 MB/s
Requirement already satisfied: pandas>=0.24.2 in /Users/geethika/opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: scipy>=1.2.1 in /Users/geethika/opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (1.6.1)
Requirement already satisfied: setuptools in /Users/geethika/opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (50.3.1.post20201107)
Requirement already satisfied: numpy>=1.16.2 in /Users/geethika/opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (1.19.2)
Requirement already satisfied: matplotlib>=3.0.0 in /Users/geethika/opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (3.3.2)
Requirement already satisfied: joblib>=0.13.2 in /Users/geethika/opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (0.17.0)
Requirement already satisfied: scikit-learn>=0.20.3 in /Users/geethika/opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: pytz>=2017.2 in /Users/geethika/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/geethika/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24.2->mlxtend) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /Users/geethika/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: certifi>=2020.06.20 in /Users/geethika/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (2020.6.20)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/geethika/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/geethika/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /Users/geethika/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (8.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/geethika/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: six>=1.5 in /Users/geethika/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->mlxtend) (1.15.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.18.0

In [56]:
#from apyori import apriori
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder

In [48]:
items = []
with open("toy_dataset.csv") as f:
    items = f.read()

In [49]:
items

'Apple\nWine,Chips,Bread,Butter,Milk,Apple\nWine,Bread,Butter,Milk\nBread,Butter,Milk\nWine,Chips,Apple\nWine,Chips,Bread,Butter,Milk,Apple\nWine,Chips,Milk\nWine,Chips,Bread,Butter,Apple\nWine,Chips,Milk\nWine,Bread,Apple\nWine,Bread,Butter,Milk\nChips,Bread,Butter,Apple\nWine,Butter,Milk,Apple\nWine,Chips,Bread,Butter,Milk\nWine,Bread,Milk,Apple\nWine,Bread,Butter,Milk,Apple\nWine,Chips,Bread,Butter,Milk,Apple\nChips,Bread,Butter,Milk,Apple\nChips,Butter,Milk,Apple\nWine,Chips,Bread,Butter,Milk,Apple\nWine,Bread,Butter,Milk,Apple\nWine,Chips,Bread,Milk,Apple\nChips'

In [50]:
# splitting the data into separate transactions using separator as "\n"
items = items.split("\n")
items_list = []
for i in items:
    items_list.append(i.split(","))

In [6]:
items_list

[['Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Bread', 'Butter', 'Milk'],
 ['Bread', 'Butter', 'Milk'],
 ['Wine', 'Chips', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Milk'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Apple'],
 ['Wine', 'Chips', 'Milk'],
 ['Wine', 'Bread', 'Apple'],
 ['Wine', 'Bread', 'Butter', 'Milk'],
 ['Chips', 'Bread', 'Butter', 'Apple'],
 ['Wine', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk'],
 ['Wine', 'Bread', 'Milk', 'Apple'],
 ['Wine', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Chips', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Milk', 'Apple'],
 ['Chips']]

In [54]:
#frequent_itemsets = apriori(items_list, min_support=0.3, min_confidence=0.5,min_lift=1.2,min_length=2)
frequent_itemsets = apriori(pd.DataFrame(items_list), min_support=0.07, use_colnames=True)

arules= list(frequent_itemsets)
arules

ValueError: The allowed values for a DataFrame are True, False, 0, 1. Found value Apple

In [44]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head()

TypeError: 'list' object is not callable

In [41]:
rules[ (rules['lift'] >= 6) &
       (rules['confidence'] >= 0.8) ]

NameError: name 'rules' is not defined

In [27]:
df_results = pd.DataFrame(association_rules)
df_results['ordered_statistics'][0]

[OrderedStatistic(items_base=frozenset({'Bread'}), items_add=frozenset({'Butter'}), confidence=0.8125, lift=1.2458333333333333),
 OrderedStatistic(items_base=frozenset({'Butter'}), items_add=frozenset({'Bread'}), confidence=0.8666666666666666, lift=1.2458333333333333)]

In [28]:
first_values = []
second_values = []
third_values = []
fourth_value = []

# loop number of rows time and append 1 by 1 value in a separate list.. first and second element was frozenset which need to be converted in list..
for i in range(df_results.shape[0]):
    single_list = df_results['ordered_statistics'][i][0]
    first_values.append(list(single_list[0]))
    second_values.append(list(single_list[1]))
    third_values.append(single_list[2])
    fourth_value.append(single_list[3])

In [33]:
lhs = pd.DataFrame(first_values)
rhs= pd.DataFrame(second_values)
confidance=pd.DataFrame(third_values,columns=['Confidance'])
lift=pd.DataFrame(fourth_value,columns=['lift'])
support = df_results.support
lhs.shape , rhs.shape

((13, 2), (13, 3))

In [37]:
lhs

         0      1
0    Bread   None
1    Apple   None
2    Apple   None
3   Butter   None
4    Bread   None
5    Bread   None
6    Bread   None
7     Milk   None
8    Chips   None
9    Apple  Bread
10   Bread   None
11    Milk  Apple
12   Bread   None

In [36]:
rhs

         0      1      2
0   Butter   None   None
1    Chips  Bread   None
2   Butter  Chips   None
3    Apple   Milk   None
4   Butter  Chips   None
5   Butter   Milk   None
6   Butter   Wine   None
7   Butter   Wine   None
8   Butter  Apple  Bread
9   Butter   Wine   None
10    Wine  Apple   Milk
11  Butter   Wine   None
12  Butter   Wine   Milk

In [34]:
#concat all list together in a single dataframe
df_final = pd.concat([lhs,rhs,support,confidance,lift], axis=1)
df_final

         0      1       0      1      2   support  Confidance      lift
0    Bread   None  Butter   None   None  0.565217    0.812500  1.245833
1    Apple   None   Chips  Bread   None  0.347826    0.500000  1.277778
2    Apple   None  Butter  Chips   None  0.347826    0.500000  1.277778
3   Butter   None   Apple   Milk   None  0.391304    0.600000  1.254545
4    Bread   None  Butter  Chips   None  0.347826    0.500000  1.277778
5    Bread   None  Butter   Milk   None  0.478261    0.687500  1.216346
6    Bread   None  Butter   Wine   None  0.434783    0.625000  1.306818
7     Milk   None  Butter   Wine   None  0.434783    0.588235  1.229947
8    Chips   None  Butter  Apple  Bread  0.304348    0.500000  1.277778
9    Apple  Bread  Butter   Wine   None  0.304348    0.583333  1.219697
10   Bread   None    Wine  Apple   Milk  0.347826    0.500000  1.277778
11    Milk  Apple  Butter   Wine   None  0.304348    0.636364  1.330579
12   Bread   None  Butter   Wine   Milk  0.391304    0.562500  1.293750

In [39]:
df_final.fillna(value=' ', inplace=True)
#set column name
df_final.columns = ['lhs',1,'rhs',1,2,'support','confidance','lift']
df_final

       lhs      1     rhs      1      2   support  confidance      lift
0    Bread         Butter                0.565217    0.812500  1.245833
1    Apple          Chips  Bread         0.347826    0.500000  1.277778
2    Apple         Butter  Chips         0.347826    0.500000  1.277778
3   Butter          Apple   Milk         0.391304    0.600000  1.254545
4    Bread         Butter  Chips         0.347826    0.500000  1.277778
5    Bread         Butter   Milk         0.478261    0.687500  1.216346
6    Bread         Butter   Wine         0.434783    0.625000  1.306818
7     Milk         Butter   Wine         0.434783    0.588235  1.229947
8    Chips         Butter  Apple  Bread  0.304348    0.500000  1.277778
9    Apple  Bread  Butter   Wine         0.304348    0.583333  1.219697
10   Bread           Wine  Apple   Milk  0.347826    0.500000  1.277778
11    Milk  Apple  Butter   Wine         0.304348    0.636364  1.330579
12   Bread         Butter   Wine   Milk  0.391304    0.562500  1.293750

In [ ]:
df_final['lhs'] = df_final['lhs']+str(", ")+df_final[1]+str(", ")+df_final[

In [44]:
for item in association_rules:

    # first index of the inner list
    # Contains base item and add item
    pair = item[0] 
    items = [x for x in pair]
    print("Rule: " + str(items))
   

    #second index of the inner list
    print("Support: " + str(item[1]))

    #third index of the list located at 0th
    #of the third index of the inner list

    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

Rule: ['Butter', 'Bread']
Support: 0.5652173913043478
Confidence: 0.8125
Lift: 1.2458333333333333
=====================================
Rule: ['Apple', 'Bread', 'Chips']
Support: 0.34782608695652173
Confidence: 0.8888888888888888
Lift: 1.2777777777777777
=====================================
Rule: ['Butter', 'Apple', 'Chips']
Support: 0.34782608695652173
Confidence: 0.8
Lift: 1.2266666666666668
=====================================
Rule: ['Butter', 'Apple', 'Milk']
Support: 0.391304347826087
Confidence: 0.8181818181818182
Lift: 1.2545454545454546
=====================================
Rule: ['Butter', 'Bread', 'Chips']
Support: 0.34782608695652173
Confidence: 0.8888888888888888
Lift: 1.362962962962963
=====================================
Rule: ['Butter', 'Milk', 'Bread']
Support: 0.4782608695652174
Confidence: 0.8461538461538463
Lift: 1.2974358974358975
=====================================
Rule: ['Butter', 'Wine', 'Bread']
Support: 0.43478260869565216
Confidence: 0.9090909090909091
Lift: 1.3068181818181819
=====================================
Rule: ['Butter', 'Wine', 'Milk']
Support: 0.43478260869565216
Confidence: 0.9090909090909091
Lift: 1.2299465240641712
=====================================
Rule: ['Butter', 'Apple', 'Bread', 'Chips']
Support: 0.30434782608695654
Confidence: 0.7777777777777778
Lift: 1.2777777777777777
=====================================
Rule: ['Butter', 'Apple', 'Wine', 'Bread']
Support: 0.30434782608695654
Confidence: 0.8750000000000001
Lift: 1.2578125000000002
=====================================
Rule: ['Apple', 'Wine', 'Milk', 'Bread']
Support: 0.34782608695652173
Confidence: 0.8888888888888888
Lift: 1.2026143790849673
=====================================
Rule: ['Butter', 'Wine', 'Milk', 'Bread']
Support: 0.391304347826087
Confidence: 0.9
Lift: 1.2176470588235295
=====================================