In [1]:
import statsmodels.api as sm
import scipy.stats as stats
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_csv('BuyerRatio.csv')
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [12]:
expected = [50, 142, 131, 70, 393,]
obsereved = [435, 1523,1356, 750, 1731,]

In [13]:
stats.chisquare(f_obs=observed, f_exp=expected)

Power_divergenceResult(statistic=412.27057868841547, pvalue=6.206337769088437e-88)